html, body {
    overflow-x: hidden; 
    overflow-y: scroll; 
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: flex;
}

.error {
    background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/autumn-in-the-white-mountains-of-new-hampshire-royalty-free-image-841380450-1531931081.jpg?crop=1.00xw:0.755xh;0,0.202xh&resize=1200:*");
    -webkit-background-clip: text;
    color: transparent;
    font-size: 80px;
    font-family: sans-serif;
}

.error1 {
    color: #3d7068;
    font-size: 80px;
    font-family: sans-serif;
    text-align: center;
}

.name {
    color: #212738;
    font-size: 40px;
    text-align: center;
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



body {
    background-color: rgb(232, 235, 236);
}


button, a{
    border: none;
    background: #4070F4;
    color: #fff;
    padding: 10px;
    font-size: 30px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
    font-family:Arial, Helvetica, sans-serif;
}

button:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

@media screen and (max-width: 768px){
    
    .error1 {
        font-size: 50px;
        padding: 0px 0px 5px 0px;
    }

    .error {
        padding: 10px 0px 40px 0px;
        margin: auto; 
        font-size: 80px;
        text-align: center;
    }

    .button {
        margin: 10px 0px 0px 50px;
        
    }


    .resize {
        display: none;
    }

    .name {
        margin: 0px 0px 0px 70px;
    }
   
  }

@media screen and (min-width: 768px) {
    .top {
        float: left; 
        margin: 40px 80px 0px 100px;
    }

    .bottom {
        float: right; 
        margin: 160px 50px 75px 100px;
    }
    
    button {
        margin: 25px 0px 0px 0px;
    }

    .error1{
        margin: 0px 0px 10px 0px;
    }
    
   
}