@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Roboto:ital@1&family=Rubik:wght@500&display=swap');

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    
}

.error {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 8vh;
    font-weight: 600;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK9tEOCk9st8GYpGxZRnhxpgl7-av0LJ3xgNsILw4Q4UkvWdIv9oCHTUdrEWN33zeWBdI&usqp=CAU);
    -webkit-background-clip: text;
    color: transparent;
}

.error-message {
    font-family: 'Roboto Mono', monospace;
    font-size: 4vh;
    font-weight: 900;
    color: #0E2431;
}

.link {
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 3.5vh;
    color: #4070F4;
}

.link:hover {
    color: #4070f4a5;
}
